wordcloud.txt
[{"id":"1a31b9e0.994c8e","type":"websocket-listener","path":"/ws/wordcloud","wholemsg":"false"},{"id":"99d296e2.395548","type":"twitter in","twitter":"","tags":"Cloud, cloud","user":"false","name":"","topic":"tweets","x":167,"y":179,"z":"878ea8e9.7b50f8","wires":[["a3b950c1.8e406"]]},{"id":"a3b950c1.8e406","type":"function","name":"Filter Tweets","func":"\nvar tweets = context.tweets || [\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\",\"\"];\n\nif (msg.tweet.lang == \"en\") {\n\n\tvar foo = msg.tweet.text;\n\tif (foo.indexOf(\"http\") != -1) {\n\t\tfoo = (foo.split(\"http\"))[0];\n\t}\n\tif (foo.toLowerCase().indexOf(\"job\") != -1) return null;\n\tfoo = foo.replace(/[^\\x00-\\x7F]/g, \"\");\n\t\n\tif (tweets.indexOf(foo) == -1) {\n\t\ttweets.shift();\n\t\ttweets.push(foo);\n\t\t//console.log(tweets);\n\t\tcontext.tweets = tweets;\n\t\treturn {payload:tweets};\n\t}\n}\nreturn null;\n","outputs":1,"x":303,"y":234,"z":"878ea8e9.7b50f8","wires":[["b44ded04.65f44"]]},{"id":"b44ded04.65f44","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"12","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":410,"y":181,"z":"878ea8e9.7b50f8","wires":[["da88f4e8.c8d43"]]},{"id":"da88f4e8.c8d43","type":"function","name":"Count words in array","func":"var index = {};\n\nvar garbage = [ \"and\", \"for\", \"but\", \"the\", \"&lt\", \"&gt\", \"his\", \"her\", \"pre\", \"are\", \"&amp\", \"with\"];\n\nfunction countWords(sentence) {\n\twords = sentence\n\t\t.replace(/[.,?!;()\"'-]/g, \" \")\n\t\t.replace(/\\s+/g, \" \")\n\t\t//.toLowerCase()\n\t\t.split(\" \");\n\t\n\twords.forEach(function (word) {\n\t\tif ((word.length > 2)&&( isNaN(Number(word)) )&&( garbage.indexOf(word.toLowerCase()) == -1 )) {\n\t\t    if (!(index.hasOwnProperty(word))) {\n\t\t        index[word] = 0;\n\t\t    }\n\t\t    index[word]++;\n\t\t}\n\t});\n\t\n\t//console.log(Object.keys(index).length);\n\t//return index;\n}\n\nfor (var i in msg.payload) {\n\tcountWords(msg.payload[i]);\n}\n\nmsg.payload = JSON.stringify(index);\n\nreturn msg;","outputs":1,"x":533,"y":237,"z":"878ea8e9.7b50f8","wires":[["9149d48d.cd18a8","57f87a0.0e58808"]]},{"id":"9149d48d.cd18a8","type":"websocket out","name":"","server":"1a31b9e0.994c8e","client":"","x":765,"y":148,"z":"878ea8e9.7b50f8","wires":[]},{"id":"57f87a0.0e58808","type":"debug","name":"","active":true,"console":"false","complete":"false","x":769,"y":277,"z":"878ea8e9.7b50f8","wires":[]}]
